<h1>Chat Host</h1>
<pre id="messages" style="height: calc(100vh - 15em); overflow: scroll;"></pre>
<input type="text" id="messageBox" placeholder="Type your message here"
  style="display: block; width: 100%; margin-bottom: 10px; padding: 10px;" />
<button id="send" type="submit" title="Send Message!" style="width: 100%; height: 30px;">Send Message</button>

<script>
  (function () {
    const sendBtn = document.querySelector('#send');
    const messages = document.querySelector('#messages');
    const messageBox = document.querySelector('#messageBox');

    let ws;

    function showMessage(message) {
      messages.textContent += `\n\n${message}`;
      messages.scrollTop = messages.scrollHeight;
    }

    function prepareMessage(data) {
      const parsed = JSON.parse(data);
      return `${parsed.user || 'unknown'}: ${parsed.message}`;
    }

    function init() {
      if (ws) {
        ws.onerror = ws.onopen = ws.onclose = null;
        ws.close();
      }

      ws = new WebSocket('ws://localhost:8080?key=' + crypto.randomUUID());
      ws.onopen = () => {
        showMessage('Connected to server');
      }
      ws.onmessage = ({ data }) => showMessage(prepareMessage(data));
      ws.onclose = function () {
        ws = null;
      }
      ws.onerror = function (cx) {
        showMessage('WebSocket error');
        
        console.error(cx);
      }
    }

    function sendMsg() {
      if (!ws) {
        showMessage("No WebSocket connection :(");
        return;
      }

      ws.send(messageBox.value);
      showMessage(`You: ${messageBox.value}`);
      messageBox.value = '';
    }
    sendBtn.onclick = sendMsg;

    messageBox.onkeyup = function (e) {
      if (e.keyCode === 13) {
        sendMsg();
      }
    }

    init();
  })();
</script>